<html>
    <head>
        <title>Create Ulam Recipe</title>
    </head>
    <body>
        <h1>Create a Recipe</h1>
        <form method="post">
            {% csrf_token %}
            <input
                type="text"
                id="id_recipe_title"
                name="title_text"
                placeholder="What is your dish called?">
            <br />
            <input
                type="text"
                id="id_recipe_ingre"
                name="ingredient_text"
                placeholder="An ingredient for your dish?">

            <br />
            <button id="id_submit_recipe" type="submit">Submit</button>
        </form>
        <hr>
        <table id="id_recipe_table">
            {% for recipe in recipes %}
                <tr>
                    <td>
                        {{ recipe.title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ recipe.ingredient }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
